* {
  margin: 0;
  padding: 0;
}
.nav-bar-warapper{
  border-bottom: 1px solid black;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}
.nav-bar ul{
  display: flex;
  margin-bottom: 0;
  padding: 1em;
}
.nav-bar ul li {
  list-style: none;

}
.nav-bar ul li a {
  color: black;
  text-decoration: none;
  padding: 1em;
}
.nav-bar ul li .active{
  color: aqua;
  border-bottom: 2px solid aqua;
}

.error-list {
  margin-bottom: 0;
}
.form-row {
  margin-bottom: 1em;
}
.form-invalid-row {
  border: 1px solid #f5c2c7;
  background: #f8d7da;
}
.form-invalid-label {
  color: #842029;
}