* {
  margin: 0;
  padding: 0;
}

.active{
  color: aqua !important;
  border-bottom: 2px solid aqua;
}

.error-list {
  margin-bottom: 0;
}
.form-row {
  margin-bottom: 1em;
}
.form-invalid-row {
  border: 1px solid #f5c2c7;
  background: #f8d7da;
}
.form-invalid-label {
  color: #842029;
}

.post-card-col {
  animation: fadeIn liner 2s;
  -moz-animation: fadeIn linear 1s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
