.HomePageWrapper {
    margin-top: 4em;
    margin-bottom: 4em;
}
.HomePageNotLoggedIn {
    text-align: center;
    margin-top: 4em;
    font-style: italic;
}
.HomeRecentPosts {
    text-align: center;
    margin: 1em 0 1em 0;
}
.HomePagePostsWrapper {
    display: flex;
    flex-wrap: wrap;
}
.HomeLoadingPosts {
    text-align: center;
}
.HomePagePostCol {
    flex: 80%;
    max-width: 80%;
    margin: auto;
    margin-bottom: 10px;
    animation: fadeIn liner 1s;
    -moz-animation: fadeIn linear 1s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  