.DeletePostBtn {
    position: absolute;
    right: 10px;
    top: 10px;
}
.DeletePostBtn:hover {
    cursor: pointer;
}
.DeletePostBtnIcon {
    color:red;
    position: relative;
    top: -3px;
}
.DeletePostBtnIcon:hover {
    color: darkred;
}